@import './assets/styles/global.scss';

.browse-content-wrap.container {
  margin-bottom: calculateRem(48);

  @media (min-width: $desktop) {
    display: flex;
    max-width: calculateRem($container-width + $browse-left-width*2 + $container-padding*2);
  }

  h4 {
    font-size: calculateRem(30);
    margin-bottom: calculateRem(28);
    color: #fff;
    font-family: $secondary-font;
    letter-spacing: 4px;
  }
}

.browse-content-left {
  display: none;

  @media (min-width: $desktop) {
    display: block;
    width: calculateRem($browse-left-width);
  }
}

.browse-content-right {

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    width: calculateRem($container-width);
    padding: 0 calculateRem($container-padding);

    .interviews-wrap {
      order: 1;
    }
  }
}
