@import './assets/styles/global.scss';

.page-header-nav {

  a {
    font-family: $secondary-font;
    color: #fff;
    text-decoration: none;
    margin-right: calculateRem(32);
    font-size: calculateRem(18);
    text-shadow: 0 0 11px #000;
    letter-spacing: .08em;

    @media (min-width: $desktop) {
      margin-right: 0;
      margin-left: calculateRem(48);
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
