@import './assets/styles/global.scss';

.search-bar {
  background-color: $blue;
  background-image: url('/static/img/header-bg.jpg');
  background-position: center;
  background-size: cover;
  margin-bottom: calculateRem(56);

  h3 {
    padding: calculateRem(24) 0 0;
    text-transform: uppercase;
    font-family: $secondary-font;
    font-size: calculateRem(40);
    color: $red;
    letter-spacing: 4px;
    line-height: 1.1;

    @media (min-width: $desktop) {
      font-size: calculateRem(50);
      letter-spacing: 10px;
    }
  }
}

.search-form {
  position: relative;
  bottom: calculateRem(-24);
}

.search-input {
  width: 100%;
  height: calculateRem(44);
  border: 0;
  box-shadow: 0 0 5px 5px $dark-navy;
  padding: calculateRem(12);
  font-size: calculateRem(16);

  &:focus,
  &:active {
    outline: none;
  }
}

.search-clear-button {
  position: absolute;
  top: 10%;
  right: calculateRem(4);
  height: 80%;
  border: 0;
  padding: 0 calculateRem(16);
  cursor: pointer;
  font-size: calculateRem(14);
  background-color: #fff;
  display: flex;
  align-items: center;

  &:focus,
  &:active {
    outline: none;
  }
}
