@import './assets/styles/global.scss';

.search-bar {
  background-color: #efefef;
  margin-bottom: calculateRem(56);

  h3 {
    padding: calculateRem(32) 0 0;
    text-align: center;
    text-transform: uppercase;
    font-family: $secondary-font;
    font-size: calculateRem(36);
  }
}

.search-input {
  width: 100%;
  height: calculateRem(48);
  border: 5px solid #efefef;
  padding: calculateRem(12);
  font-size: calculateRem(16);
  position: relative;
  bottom: calculateRem(-24);

  &:focus,
  &:active {
    outline: none;
  }
}
