@import './assets/styles/global.scss';

.page-header {
  background-color: $blue;
  background-image: url('/static/img/header-bg.jpg');
  background-position: center;
  background-size: cover;
  padding: calculateRem(24) 0;
  text-align: center;

  .logo {
    width: calculateRem(116);
    margin-bottom: calculateRem(24);
  }

  h1 {
    color: #fff;
    margin-bottom: calculateRem(24);
    text-transform: uppercase;
    font-family: $secondary-font;
    font-size: calculateRem(40);
    color: $red;
    letter-spacing: 4px;
    line-height: 1.1;

    @media (min-width: $desktop) {
      font-size: calculateRem(50);
      letter-spacing: 10px;
    }
  }

  p {
    margin-bottom: calculateRem(24);
  }
}

.page-header-nav {
  margin-bottom: calculateRem(32);

  a {
    font-family: $secondary-font;
    color: #fff;
    text-decoration: none;
    margin: 0 calculateRem(8);
    font-size: calculateRem(17);
    text-shadow: 0 0 11px #000;
    padding: calculateRem(8);
    letter-spacing: .08em;

    &:hover {
      text-decoration: underline;
    }
  }
}
