@import './assets/styles/global.scss';

.page-header {
  background-color: #efefef;
  padding: calculateRem(24) 0;
  text-align: center;
  margin-bottom: calculateRem(24);

  h1 {
    margin-bottom: calculateRem(24);
    font-family: $secondary-font;
    font-size: calculateRem(36);
  }

  p {
    margin-bottom: calculateRem(24);
  }
}

.page-header-nav {

  a {
    color: $text-color;
    text-decoration: none;
    margin: 0 calculateRem(16);

    &:hover {
      text-decoration: underline;
    }
  }
}
