@font-face {
  font-family: 'proxima_nova_regular';
  src: url('/static/fonts/proxima_nova-regular-webfont.eot');
  src: url('/static/fonts/proxima_nova-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/static/fonts/proxima_nova-regular-webfont.woff2') format('woff2'),
  url('/static/fonts/proxima_nova-regular-webfont.woff') format('woff'),
  url('/static/fonts/proxima_nova-regular-webfont.ttf') format('truetype'),
  url('/static/fonts/proxima_nova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
