@import './assets/styles/global.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  font-size: calculateRem($body-font-size);
  line-height: calculateRem($body-line-height);
  letter-spacing: -.03em;
  color: $text-color;
  background-color: $navy-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

strong {
  font-weight: 700;
}

.main-heading {
  text-transform: uppercase;
  font-family: $secondary-font;
  font-size: calculateRem(50);
  color: $red;
  letter-spacing: 4px;
  line-height: 1;
  transition: font-size 0.2s ease, letter-spacing 0.2s ease;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  @media (min-width: $desktop) {
    font-size: calculateRem(68);
    letter-spacing: 10px;
  }
}
