// Media Queries
$smallMobile: 375px;
$bigMobile: 480px;
$tablet: 768px;
$toDesktop: 1023px;
$desktop: 1024px;
$monitor: 1220px;
$big: 1440px;

// colors
$text-color: hsla(0, 0, 100, .7);
$blue: #3830cf;
$blue-highlight: #0069d9; // button hover
$blue-light: #2D3657;
$navy: #1c2449;
$dark-navy: #0c143a;
$red: #d4434a;
$dark-red: #AA2E49;

// text
$body-font-size: 16;
$body-line-height: 24;
$primary-font: 'Roboto Mono', monospace;
$secondary-font: 'bebas_neuebold', sans-serif;

// layout
$container-width: 750;
$browse-left-width: 180;
$container-padding: 24;
