// Media Queries
$smallMobile: 375px;
$bigMobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$monitor: 1220px;
$big: 1440px;

// colors
$text-color: #666;

// text
$body-font-size: 16;
$body-line-height: 24;
$primary-font: 'proxima_nova_regular', sans-serif;
