@import './assets/styles/global.scss';

.modal {
  display: none;

  &.modal-open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3;
  }

  &.modal-on-mobile-only {

    @media (min-width: $desktop) {
      background-color: transparent;
      height: auto;

      .modal-inner {
        position: initial;
        padding: 0;
        width: auto;
        height: auto;
        top: inherit;
        left: inherit;
      }

      .modal-close {
        display: none;
      }
    }
  }
}

.modal-inner {
  position: relative;
  z-index: 4;
  background-color: #fff;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  overflow: auto;
  padding: calculateRem(20);

  @media (min-width: $tablet) {
    padding-top: calculateRem(60);
  }
}

.modal-close {
  position: absolute;
  top: calculateRem(12);
  right: calculateRem(12);
  padding: calculateRem(4);
  background-color: #cfcfcf;
  text-align: center;
  width: calculateRem(32);
  height: calculateRem(32);
  border-radius: 50%;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #c1c1c1;
  }
}
