@import './assets/styles/global.scss';

.modal {
  display: none;

  &.modal-open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background-color: $navy-dark;
    overflow: auto;
  }

  &.modal-on-mobile-only {

    @media (min-width: $desktop) {
      background-color: transparent;
      height: auto;
      display: block;
      position: initial;
      width: auto;

      .modal-inner {
        position: initial;
        padding: 0;
        width: auto;
        height: auto;
        top: inherit;
        left: inherit;
      }

      .modal-close {
        display: none;
      }
    }
  }
}

.modal-inner {
  width: 100%;
  height: 100%;
  padding-top: calculateRem(24);
  position: relative;

  @media (min-width: $tablet) {
    padding-top: calculateRem(40);
  }
}

.modal-close {
  position: fixed;
  top: calculateRem(16);
  right: calculateRem(16);
  z-index: 4;

  @media (min-width: $desktop) {
    top: calculateRem(72);
    right: inherit;
    left: calc(370px + 50%);

    svg {
      width: calculateRem(30);
      height: calculateRem(30);
    }
  }

  &:hover svg path:last-child {
    fill: $dark-red;
  }
}
