@import './assets/styles/global.scss';

.wordcloud {
  text-align: center;
  padding: calculateRem(24);
  cursor: pointer;
  outline: none;

  h3{
    margin-bottom: calculateRem(8);
  }

  span {
    display: inline-block;
    padding: 0 calculateRem(8);

    &.size-1 {
      font-size: calculateRem(30);
    }

    &.size-2 {
      font-size: calculateRem(25);
    }

    &.size-3 {
      font-size: calculateRem(20);
    }

    &.size-4 {
      font-size: calculateRem(15);
    }
  }
}
