@import './assets/styles/global.scss';

.related-interviews-list {
  margin-bottom: calculateRem(24);

  button {
    border: 0;
    padding: 0;
    text-align: left;
    font-size: calculateRem(14);

    &:hover {
      text-decoration: underline;
    }
  }
}
