@import './assets/styles/global.scss';

.related-interviews-list {
  margin-bottom: calculateRem(24);

  h5 {
    font-size: calculateRem(30);
    line-height: 1.1;
    margin-bottom: calculateRem(16);
    color: #fff;
    font-family: $secondary-font;
    letter-spacing: 4px;
  }

  li {
    margin-bottom: calculateRem(12);
    line-height: 1.1;
  }

  button {
    border: 0;
    padding: 0;
    text-align: left;
    font-size: calculateRem(14);
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }
}
