@import './assets/styles/global.scss';

.related-interviews-list {
  margin-bottom: calculateRem(24);

  li {
    font-size: calculateRem(14);
    cursor: pointer;
    outline: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
