@import './assets/styles/global.scss';

.mob-interviews-link {
  display: flex;
  justify-content: space-between;
  margin-bottom: calculateRem(24);

  @media (min-width: $desktop) {
    display: none;
  }

  button {
    color: $text-color;
    padding: 0;
    font-size: calculateRem($body-font-size);

    &:hover {
      text-decoration: underline;
    }
  }
}

.interviews-nav-wrap {

  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
    position: relative;
  }
}

.interviews-list {

  @media (min-width: $desktop) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: auto;
    width: 96%;
  }

  .letter-block {
    color: #fff;
    padding-bottom: calculateRem(32);
  }

  button {
    border: 0;
    padding: 0;
    text-align: left;
    font-size: calculateRem(14);
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }
}

.letters-nav {
  display: none;

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: column;

    button {
      color: #fff;
      margin-bottom: calculateRem(4);
      text-transform: lowercase;

      &.active {
        background-color: $red;
      }
    }
  }
}
